* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid;
}

/* drop down */

.drop-down-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    height: 300px;
    width: 300px;
}

.drop-down-toggle {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 80%);
}

.drop-down-toggle:hover {
    background-color: hsl(0, 0%, 85%);
}

.drop-down-toggle:active {
    background-color: hsl(0, 0%, 90%);
    cursor: default;
}

.drop-down-menu {
    border: 2px solid black;
    display: none;
}

.drop-down-menu li {
    list-style: none;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-down-menu li:not(:last-child) {
    border-bottom: solid;
}

/* image carousel */

.image-carousel-container {
    border: solid;
    width: 400px;
    height: 200px;
    position: relative;
}

.image {
    height: 100%;
    width: 100%;
    display: none;
}

.image:nth-child(1) {
    background-color: red;
}

.image:nth-child(2) {
    background-color: green;
}

.image:nth-child(3) {
    background-color: blue;
}

a {
    user-select: none;
    cursor: pointer;
}

.prev,
.next {
    position: absolute;
    top: 30%;
    font-size: 50px;
}

.next {
    right: 0;
}

.dot-container {
    margin-top: 10px;
    display: flex;
    gap: 3px;
}

.dot {
    display: block;
    height: 10px;
    width: 10px;
    border: solid;
    border-radius: 50%;
}

.dot.selected {
    background-color: black;
}